@font-face{
	src: url('./woff2/FiraCode-Regular.woff2') format('woff2');
	font-family:'Fira Code';
	font-weight: 400;
	font-style: normal;
	}
@font-face{
	src:url('./woff2/FiraCode-Bold.woff2') format('woff2');
	font-family:'Fira Code';
	font-weight: 700;
	font-style: normal;
	}
